{
   "extends": [
      "react-app",
      "plugin:react-hooks/recommended",
      "airbnb",
      "prettier",
      "prettier/react"
   ],
   "rules": {
      "import/no-unresolved": 1,
      "import/prefer-default-export": 0,
      "react/jsx-props-no-spreading": 0,
      "react/jsx-filename-extension": [
         1,
         {
            "extensions": [
               ".js"
            ]
         }
      ]
   },
   "settings": {
      "import/resolver":{
         "node": {
            "paths": ["./src"],
            "extensions": [".js", ".jsx", ".ts", ".tsx"]
         }
      }
   }
}